{% extends "base.html" %}

{% block title %}Administracja systemem{% endblock title %}

{% block scripts %}
    {{ super() }}

    <script>
        $(document).ready(function(){ M.AutoInit(); });
        $(document).ready(function(){ $('.timepicker').timepicker(); });
    </script>
{% endblock scripts %}

{% block content %}

    <br>



    <div class="row">
        <div class="col s12">
            <div class="card white">
                 <div class="card-content grey-text text-darken-2 container">
                     <span class="card-title">Ustawienia czasu</span>
                     <form method="post">
                         <div class="row">
                             <div class="col s6">
                                <input name="date" id="date" type="text" class="datepicker"/>
                                <label for="date">Data</label>
                             </div>
                             <div class="col s6">
                                 <input name="start" id="start" type="text" class="timepicker"/>
                                 <label for="start">Początek</label>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col s6">
                                <input name="end" id="end" type="text" class="timepicker"/>
                                 <label for="end">Koniec</label>
                             </div>
                             <div class="col s6">
                                <input id="interval" name="interval" type="number"/>
                                 <label for="interval">Czas trwania spotkania [min]</label>
                             </div>
                         </div>
                         <div class="row">
                             <input type="submit" class="btn" value="Zapisz"/>
                         </div>
                     </form>
                 </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="card white">
                 <div class="card-content grey-text text-darken-2 container">
                     <span class="card-title">Nauczyciele</span>
                     <div class="row">
                        <ul class="collection">
                            {% for n in nauczyciele %}
                                <li class="collection-item">
                                    <div>{{n.imie}} {{n.nazwisko}}<a href="/admin/nauczyciel/{{n.id}}" class="secondary-content"><i class="material-icons">edit</i></a></div>
                                </li>
                            {% endfor %}
                        </ul>
                     </div>
                 </div>
            </div>
        </div>
    </div>

{% endblock content %}
