<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            staszic-zapisy
        {% endblock title %}
    </title>
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% endblock scripts %}
    {% block styles %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% endblock styles %}
</head>
<body>
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>