{% extends "base.html" %}
{% block title %} Nauczyciele {% endblock title %}
{% block scripts %}
    {{ super () }}
    <script>
        var teachers = [
            {% for n in nauczyciele %}
                {'name':'{{n.imie}} {{n.nazwisko}}', 'fname':'{{n.imie}}', 'lname':'{{n.nazwisko}}', 'rendered': '<a href="nauczyciel/{{n.id}}">{{n.imie}} {{n.nazwisko}}</a><br>'},
            {% endfor %}
        ]
    </script>
    <script>
        function simplify(string) {
            return string.toLowerCase().replace(/ą/g, 'a').replace(/ć/g, 'c').replace(/ę/g, 'e').replace(/ł/g, 'l')
                .replace(/ń/g, 'n').replace(/ó/g, 'o').replace(/ś/g, 's').replace(/ż/g, 'z').replace(/ź/g, 'z');
        }

        function match(query, value) {
            query = simplify(query);
            value = simplify(value);
            return query.split(" ").every(function(word) {return value.includes(word);});
        }

        function render_teachers(query) {
            let filtered = [for (t of teachers) if (match(query, t.name)) t]
                .sort(function (a, b) {return a.lname.localeCompare(b.lname)});
            return [for (f of filtered) f.rendered].join(' ');
        }

        function search_input() {
            $('#teachers').html(render_teachers($('#search').val()));
        }

        $('body').ready(function(){search_input()});
    </script>
{% endblock scripts %}
{% block nav %} Wybór nauczyciela {% endblock nav %}
{% block content %}
    <input type="text" id="search" oninput="search_input();"/>
    <div id="teachers"></div>
{% endblock content %}
