{% extends "base.html" %}

{% block title %}Nauczyciele{% endblock title %}

{% block scripts %}
    {{ super() }}

    <script>

        var teachers = [
            {% for n in nauczyciele %}
                {'name':'{{n.imie}} {{n.nazwisko}}', 'fname':'{{n.imie}}', 'lname':'{{n.nazwisko}}',
                    'rendered':
                        {% if n.obecny %}
                            '<a class="collection-item" href="nauczyciel/{{n.id}}">{{n.imie}} {{n.nazwisko}}</a>'
                        {% else %}
                            '<li class="collection-item grey-text">{{n.imie}} {{n.nazwisko}}' +
                            '<span class="badge grey lighten-2 white-text">nieobecny</span></li>'
                        {% endif %}
                },
            {% endfor %}
        ];

        var empty = '<li class="collection-item red-text">Nie znaleziono nauczyciela.</li>';

        function match(query, value) {

            function simplify(string) {return string.toLowerCase().replace(/ą/g, 'a').replace(/ć/g, 'c').replace(/ę/g, 'e')
                .replace(/ł/g, 'l').replace(/ń/g, 'n').replace(/ó/g, 'o').replace(/ś/g, 's').replace(/ż/g, 'z').replace(/ź/g, 'z')};

            query = simplify(query); value = simplify(value);
            return query.split(" ").every(function(word) {return value.includes(word);});
        }

        function render_teachers(query) {
            let filtered = teachers.filter(t => match(query, t.name))
                .sort(function (a, b) {return a.lname.localeCompare(b.lname)});
            return (filtered.length > 0 ? filtered.map(f => f.rendered).join('') : empty);
        }

        function search_input() {
            $('#teachers').html(render_teachers($('#search').val()));
        }

        $('body').ready(function(){search_input()});

    </script>

{% endblock scripts %}

{% block content %}

    <br>

    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content white-text">
                    <input type="text" id="search" oninput="search_input();" placeholder="Wyszukaj nauczyciela"/>
                    <ul class="collection" id="teachers"></ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
