{% extends "zapisy/user_base.html" %}

{% block title %}{{imie}} {{nazwisko}}{% endblock title %}

{% block scripts %}
{{ super () }}

    <script>

        var meetings = [
            {% for r in rozklad %}
                {'start': new Date("{{r.start}}"), 'end': new Date("{{r.koniec}}"), 'free': {{r.wolne|lower}} },
            {% endfor %}
        ];

        var selected_meeting = null;

        function time(date) {
            function lz(n) {return (n<10 ? '0' : '')+n};
            return lz(date.getHours())+':'+lz(date.getMinutes());
        }

        function expand_meeting(mid) {
            selected_meeting = mid;
            $('#start').html(time(meetings[selected_meeting].start));
            $('#end').html(time(meetings[selected_meeting].end));
            $('#hour').attr('value', time(meetings[selected_meeting].start));
            $('#meeting_id').attr('value', selected_meeting);
            $('#details').css('display', 'block');
        }

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                $('body').ready(function(){expand_meeting($('#meeting_id').val()); location.href = "#details";});
            {% endif %}
        {% endwith %}

    </script>

{% endblock scripts %}

{% block content %}

    <br>

    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content grey-text text-darken-2 container">
                    <div class="row">
                        <div class="col s8">
                            <span class="grey-text text-darken-1" style="font-weight:bolder">Wybierz odpowiadającą Ci godzinę spotkania.</span><br/><br/>
                        </div>
                        <div class="col s4" style="text-align:right">
                            <a href="/">Wróć do strony głównej</a>
                        </div>
                    </div>
                    <div class="row">
                        {% for r in rozklad %}
                            <div class="col s2" style="text-align:center">
                                {% if r.wolne %}
                                    <a class="btn waves-effect waves-light meeting_header" onclick="$('#errors').empty(); expand_meeting({{loop.index0}})" href="#details">
                                        {{r.start.strftime('%H:%M')}}
                                    </a>
                                {% else %}
                                    <a class="btn disabled meeting_header">
                                        {{r.start.strftime('%H:%M')}}
                                    </a>
                                {% endif %}
                            </div>
                            {% if loop.index % 6 == 0 and not loop.last %}</div><div class="row">{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="details" style="display: none;">
        <div class="col s12">
            <div class="card white">
                <form id="meeting_form" action="" method="post">
                    <input name="meeting_id" id="meeting_id" type="hidden" value="{{ request.form['meeting_id'] }}"/>
                    <input name="hour" id="hour" type="hidden" value="{{ request.form['hour'] }}"/>
                    <div class="card-content grey-text text-darken-2 container">
                        <div class="row">
                            <div class="col s6">
                                <div id="teacher">{{imie}} {{nazwisko}}</div>
                                <label for="teacher">Nauczyciel <a href="/"><small>(zmień)</small></a></label>
                            </div>
                            <div class="col s2">
                                <div id="date">{{ rozklad[0].start.strftime('%d.%m.%Y') }}</div>
                                <label for="date">Data</label>
                            </div>
                            <div class="col s2">
                                <div id="start">00:00</div>
                                <label for="start">Od</label>
                            </div>
                            <div class="col s2">
                                <div id="end">00:00</div>
                                <label for="end">Do</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <input name="sfname" id="sfname" value="{{ request.form['sfname'] }}" type="text"/>
                                <label for="sfname">Imię ucznia</label>
                            </div>
                            <div class="col s6">
                                <input name="slname" id="slname" value="{{ request.form['slname'] }}" type="text"/>
                                <label for="slname">Nazwisko ucznia</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <input name="pfname" id="pfname" value="{{ request.form['pfname'] }}" type="text"/>
                                <label for="pfname">Imię rodzica</label>
                            </div>
                            <div class="col s6">
                                <input name="plname" id="plname" value="{{ request.form['plname'] }}" type="text"/>
                                <label for="plname">Nazwisko rodzica</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <input name="email" id="email" value="{{ request.form['email'] }}" class="validate" type="email"/>
                                <label for="email">Adres e-mail rodzica</label>
                            </div>
                            <div class="col s6">
                                <label>
                                    <input name="rodo" id="rodo" type="checkbox"/>
                                    <span><small>Wyrażam zgodę na przetwarzanie moich danych osobowych.</small></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col s12 grey-text" style="font-size:70%;">
			    <p>Administratorem danych osobowych jest XIV Liceum Ogólnokształcące im. Stanisława
Staszica w Warszawie, ul. Nowowiejska 37a.</p>
<p>Dla prawidłowego działania serwisu internetowego zbieramy niezbędne dane.</p>
<p>Dane zbierane od Państwa zawierają informacje podawane w formularzu zapisów
na stronie. Należą do nich:</p>
<ul>
<li>imię i nazwisko rodzica oraz imię i nazwisko ucznia - Potrzebne przy prowadzeniu zapisów na indywidualne konsultacje z nauczycielami,</li>
<li>adres mailowy - Będzie wykorzystany do przesłania potwierdzenia, że pomyślnie udało się Państwu zapisać na idywidualne konsultacje. 
Prześlemy też przypomnienie w przeddzień konsultacji.</li>
</ul>
<p>Wgląd w Państwa dane osobowe ma:</p>
<ul>
<li>Dyrekcja szkoły, a także nauczyciele, do których się Państwo zapisali na konsultacje,</li>
<li>Grono administratorów systemu</li>
</ul>
<p>Przy okazji informujemy, że dane są przechowywane w nieszyfrowanej bazie danych. Oznacza to, że w formularzach nie należy podawać danych wrażliwych. 
Nie zmienia to faktu, że do tej bazy danych nikt poza wymienionymi powyżej osobami nie ma wglądu.</p>
<p>Dane na serwerze będą przechowywane nie dłużej niż do momentu otwarcia zapisów na kolejny dzień otwarty, kiedy baza danych jest czyszczona.</p>
<p>Informujemy, że mają Państwo prawo do wglądu w swoje dane osobowe przechowywane w ramach serwisu &quot;staszic-zapisy&quot;. Mogą Państwo zarządać usunięcia swoich danych z 
serwera. Mogą Państwo również zarządać, żebyśmy zaprzestali ich przetwarzania. W tym celu należy skontaktować się z nami za pomocą <a href="mailto:zapisy@staszic.waw.pl">adresu mailowego</a>. </p>
<p>Mogą obowiązywać również zarządzenia dostępne pod <a href="https://staszic.waw.pl/rodo" target="_blank">tym adresem</a>.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s8 red-text" id="errors">
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        {{ messages[0] }}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col s4" style="text-align: right">
                                <input class="btn" type="submit" value="Zarezerwuj">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
