{% extends "base.html" %}

{% block title %}{{imie}} {{nazwisko}}{% endblock title %}

{% block scripts %}
{{ super () }}

    <script>

        var meetings = [
            {% for r in rozklad %}
                {'start': new Date("{{r.start}}"), 'end': new Date("{{r.koniec}}"), 'free': {{r.wolne|lower}} },
            {% endfor %}
        ];

        var selected_meeting = null;

        function time(date) {
            function lz(n) {return (n<10 ? '0' : '')+n};
            return lz(date.getHours())+':'+lz(date.getMinutes());
        }

        function expand_meeting(mid) {
            selected_meeting = mid;
            $('#start').html(time(meetings[selected_meeting].start));
            $('#end').html(time(meetings[selected_meeting].end));
            $('#hour').attr('value', time(meetings[selected_meeting].start));
            $('#meeting_id').attr('value', selected_meeting);
            $('#details').css('display', 'block');
        }

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                $('body').ready(function(){expand_meeting($('#meeting_id').val()); location.href = "#details";});
            {% endif %}
        {% endwith %}

    </script>

{% endblock scripts %}

{% block content %}

    <br>

    <div class="row">
        <div class="col s12">
            <div class="card white">
                <div class="card-content grey-text text-darken-2 container">
                    <div class="row">
                        Wybierz odpowiadającą Ci godzinę spotkania.
                    </div>
                    <div class="row">
                        {% for r in rozklad %}
                            <div class="col s2">
                                {% if r.wolne %}
                                    <a class="btn waves-effect waves-light meeting_header" onclick="$('#errors').empty(); expand_meeting({{loop.index0}})" href="#details">
                                        {{r.start.strftime('%H:%M')}}
                                    </a>
                                {% else %}
                                    <a class="btn disabled meeting_header">
                                        {{r.start.strftime('%H:%M')}}
                                    </a>
                                {% endif %}
                            </div>
                            {% if loop.index % 6 == 0 and not loop.last %}</div><div class="row">{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="details" style="display: none;">
        <div class="col s12">
            <div class="card white">
                <form id="meeting_form" action="" method="post">
                    <input name="meeting_id" id="meeting_id" type="hidden" value="{{ request.form['meeting_id'] }}"/>
                    <input name="hour" id="hour" type="hidden" value="{{ request.form['hour'] }}"/>
                    <div class="card-content grey-text text-darken-2 container">
                        <div class="row">
                            <div class="col s12 red-text" id="errors">
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <ul class="flashes">
                                            {% for message in messages %}
                                                <li>{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <div id="teacher">{{imie}} {{nazwisko}}</div>
                                <label for="teacher">Nauczyciel <a href="/"><small>(zmień)</small></a></label>
                            </div>
                            <div class="col s2">
                                <div id="date">{{ rozklad[0].start.strftime('%d.%m.%Y') }}</div>
                                <label for="date">Data</label>
                            </div>
                            <div class="col s2">
                                <div id="start">00:00</div>
                                <label for="start">Od</label>
                            </div>
                            <div class="col s2">
                                <div id="end">00:00</div>
                                <label for="end">Do</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <input name="sfname" id="sfname" value="{{ request.form['sfname'] }}" type="text"/>
                                <label for="sfname">Imię ucznia</label>
                            </div>
                            <div class="col s6">
                                <input name="slname" id="slname" value="{{ request.form['slname'] }}" type="text"/>
                                <label for="slname">Nazwisko ucznia</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <input name="pfname" id="pfname" value="{{ request.form['pfname'] }}" type="text"/>
                                <label for="pfname">Imię rodzica</label>
                            </div>
                            <div class="col s6">
                                <input name="plname" id="plname" value="{{ request.form['plname'] }}" type="text"/>
                                <label for="plname">Nazwisko rodzica</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6">
                                <input name="email" id="email" value="{{ request.form['email'] }}" class="validate" type="email"/>
                                <label for="email">Adres e-mail rodzica</label>
                            </div>
                            <div class="col s6">
                                <label>
                                    <input name="rodo" id="rodo" type="checkbox"/>
                                    <span><small>Wyrażam zgode blablabla</small></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12" style="text-align: right">
                                <input class="" type="submit" value="Zarezerwuj">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
